{% extends "storminmormons_biketrailplanner/base.html" %}
{% load tethys_gizmos %}

{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <!DOCTYPE html>
<html>
<head>
<style>
tr.row1{background-color: dodgerblue;}
</style>
 <meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
<script src="https://js.arcgis.com/4.6/"></script>

<title style= "color: dodgerblue;">Bike Route Tool</title>

<style>
  html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>
<link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
<script src="https://js.arcgis.com/4.6/"></script>


</head>
<body>


<div id="viewDiv" style="width:100%;height:800px"></div>

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
    <form id="lineplotmod" class="modal fade" role="dialog" >
    <div id="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="lineplot">
                {% gizmo line_plot %}
            </div>
        </div>
    </div>
{% endblock %}

{% block app_actions %}

{% endblock %}

{% block app_navigation_items %}
  {{ block.super }}
  <br><br>
        <p style="font-weight: bold; font-color: black;">Choose Trailheads</p>
        {% gizmo points %} <br><br>
        {% gizmo desired_features %}<br>
        {% gizmo slider_bar %}<br>
        {% gizmo calcbutton %}
        <br><br>
        <div id="lineplotbutton">{% gizmo viewplot %}</div>
{% endblock %}