{% extends "storminmormons_biketrailplanner/base.html" %}
{% load tethys_gizmos %}

{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <!DOCTYPE html>
<html>
<head>
<style>
tr.row1{background-color: dodgerblue;}
</style>
 <meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
<script src="https://js.arcgis.com/4.6/"></script>

<title style= "color: dodgerblue;">Bike Route Tool</title>

<style>
  html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>
<link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
<script src="https://js.arcgis.com/4.6/"></script>


</head>
<body>


<div id="viewDiv" style="width:100%;height:800px"></div>

</body>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
<form id="lineplotmod" class="modal fade" role="dialog">
    <div id="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="lineplot">
                {% gizmo line_plot %}
            </div>
        </div>
    </div>
    </form>
        <!-- Instruction for Using This App -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Instructions for Using This App</h5>
        </div>
        <div class="modal-body">
          <p>To operate this app:</p>
          <ol>help determine the location for the route by choosing the beginning and ending trail location.</ol>
          <ol>tailor the route to pass close to or avoid certain features.</ol>
          <ol>if desired, select the average grade for the trail.</ol>
          <p>After these inputs have been received, click the "Run" button.  The total distance, estimated time of travel, and an elevation profile plot of the route will be generated.</p>
          <p>If your are unsatisfied with the results, or if you want to change certain inputs, click the "Refresh" button and repeat the previous steps.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block app_actions %}

{% endblock %}

{% block app_navigation_items %}
  {{ block.super }}
  <br><br>
        <p style="font-weight: bold; font-color: black;">Choose Trailheads</p>
        {% gizmo points %} <br><br>
        <div id="waiting_output"></div>
        {% gizmo desired_features %}<br>
        {% gizmo slider_bar %}<br>
        {% gizmo calcbutton %}
        <br><br>
        <div id="lineplotbutton">{% gizmo viewplot %}</div>
{% endblock %}